@charset "UTF-8";

html, body {
	overflow: hidden;
}

.root {
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	background-color: #000;
}

.root.overflow {
	overflow: hidden;
}

body {
	position: relative;
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: #fff;
}

b,
strong {
	font-weight: bolder;
}

img {
	border-style: none;
}

section {
	position: relative;
	z-index: 1;
}

@media (max-width: 767.98px) {
	.col-xs {
		padding: 0 24px;
	}

	.col-xs-no-p {
		padding: 0;
	}

	.row_xs-p {
		padding: 0 24px;
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	color: #fff;
}

h1, .h1 {
	font-size: 50px;
	line-height: 1.2;
	font-weight: 900;
	text-transform: uppercase;
}

@media (max-width: 1279.98px) {
	h1, .h1 {
		font-size: 35px;
		line-height: 40px;
	}
}

@media (max-width: 767.98px) {
	h1, .h1 {
		font-size: 28px;
		line-height: 30px;
	}
}

h2, .h2 {
	font-size: 40px;
	line-height: 1;
	font-weight: 600;
}

@media (max-width: 1279.98px) {
	h2, .h2 {
		font-size: 32px;
		line-height: 36px;
	}
}

@media (max-width: 767.98px) {
	h2, .h2 {
		font-size: 24px;
		line-height: 30px;
	}
}

h3, .h3 {
	font-size: 22px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 4.4px;
}

@media (max-width: 767.98px) {
	h3, .h3 {
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 3.2px;
	}
}

h4, .h4 {
	font-size: 24px;
	line-height: 1.5;
	font-weight: 400;
}

@media (max-width: 767.98px) {
	h4, .h4 {
		font-size: 16px;
	}
}

h5, .h5, p {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 400;
}

@media (max-width: 1699.98px) {
	h5, .h5, p {
		font-size: 18px;
	}
}

@media (max-width: 767.98px) {
	h5, .h5, p {
		font-size: 14px;
		line-height: 20px;
	}
}

.main {
	position: relative;
	display: block;
	width: 100%;
	min-height: 100vh;
	background-color: #000;
}

.main__logo {
	position: fixed;
	z-index: 11;
	top: 28px;
	left: 50px;
	display: block;
	width: 101px;
	height: 44px;
	cursor: pointer;
	outline: none !important;
}

.main__logo img, .main__logo svg {
	-webkit-transition: opacity .8s ease;
	-o-transition: opacity .8s ease;
	transition: opacity .8s ease;
}

.main__logo img path, .main__logo svg path {
	-webkit-transition: fill .1s ease;
	-o-transition: fill .1s ease;
	transition: fill .1s ease;
}

.main__logo img #now, .main__logo svg #now {
	-webkit-transition: opacity .8s ease;
	-o-transition: opacity .8s ease;
	transition: opacity .8s ease;
}

.main__logo img:first-child, .main__logo svg:first-child {
	display: block;
	width: 100%;
	height: 100%;
	opacity: 1;
}

.main__logo img:first-child #fliker, .main__logo svg:first-child #fliker {
	-webkit-animation: fliker 1s linear infinite;
	animation: fliker 1s linear infinite;
}

.main__logo img:last-child, .main__logo svg:last-child {
	position: absolute;
	top: 0;
	left: -28px;
	display: block;
	width: 124px;
	height: 44px;
	opacity: 0;
}

.main__burder {
	display: none;
}

.main__next {
	position: fixed;
	z-index: 5;
	bottom: 50px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	display: block;
	width: 22px;
	height: 32px;
	padding: 0;
	border: none;
	background-color: transparent;
	outline: none !important;
	cursor: pointer;
}

.main__next img, .main__next svg {
	display: block;
	width: 100%;
	height: 100%;
}

.main__next img path, .main__next svg path {
	-webkit-transition: fill .2s ease;
	-o-transition: fill .2s ease;
	transition: fill .2s ease;
}

@media (max-width: 1699.98px) {
	.main__logo {
		top: 18px;
	}
}

@media (max-width: 1279.98px) {
	.main__next {
		bottom: 40px;
	}
}

@media (max-width: 767.98px) {
	.main::before {
		content: "";
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		height: 80px;
		background-color: rgba(0, 0, 0, 0.8);
	}

	.main__logo {
		top: 24px;
		left: 24px;
		width: 72px;
		height: 32px;
	}

	.main__next {
		bottom: 24px;
	}

	.main__burder {
		position: fixed;
		z-index: 11;
		top: 26px;
		right: 20px;
		display: block;
		line-height: 1;
		width: 34px;
		height: 30px;
	}
}

@media (min-width: 768px) {
	.main__next:hover svg path {
		fill: #ee0e33;
	}
}

@-webkit-keyframes fliker {
	0% {
		fill: #ee0e33;
	}

	100% {
		fill: rgba(238, 14, 51, 0);
	}
}

@keyframes fliker {
	0% {
		fill: #ee0e33;
	}

	100% {
		fill: rgba(238, 14, 51, 0);
	}
}

.block-video {
	display: block;
	width: 66.67vw;
	position: relative;
	background-color: #000;
}

.block-video::before {
	content: '';
	float: left;
	padding-bottom: 56.25%;
}

.block-video::after {
	content: '';
	display: table;
	clear: both;
}

.block-video.transform {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.block-video_medium {
	width: 100%;
}

.block-video_medium::before {
	content: '';
	float: left;
	padding-bottom: 42.25%;
}

.block-video_medium::after {
	content: '';
	display: table;
	clear: both;
}

.block-video_large {
	width: 100%;
}

.block-video_large::before {
	content: '';
	float: left;
	padding-bottom: 51.75%;
}

.block-video_large::after {
	content: '';
	display: table;
	clear: both;
}

.block-video_popup {
	-webkit-transform: translateY(120%);
	-ms-transform: translateY(120%);
	transform: translateY(120%);
	-webkit-transition: -webkit-transform .3s ease;
	transition: -webkit-transform .3s ease;
	-o-transition: transform .3s ease;
	transition: transform .3s ease;
	transition: transform .3s ease, -webkit-transform .3s ease;
}

.block-video__bg {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-video__btn {
	position: absolute;
	z-index: 3;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	display: block;
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none !important;
}

.block-video__btn img, .block-video__btn svg {
	display: block;
	width: 130px;
	height: 130px;
}

.block-video__btn img circle, .block-video__btn svg circle {
	stroke: #fff;
	-webkit-transition: stroke .2s ease;
	-o-transition: stroke .2s ease;
	transition: stroke .2s ease;
}

.block-video__btn img path, .block-video__btn svg path {
	fill: #fff;
	-webkit-transition: fill .2s ease;
	-o-transition: fill .2s ease;
	transition: fill .2s ease;
}

.block-video__btn span {
	display: block;
	margin-top: 24px;
	font-size: 14px;
	line-height: 1;
	color: #fff;
	-webkit-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

.block-video iframe {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {
	.block-video__btn:hover svg circle, .block-video__btn:focus svg circle {
		stroke: #ee0e33;
	}

	.block-video__btn:hover svg path, .block-video__btn:focus svg path {
		fill: #ee0e33;
	}

	.block-video__btn:hover span, .block-video__btn:focus span {
		color: #ee0e33;
	}
}

@media (max-width: 1279.98px) {
	.block-video_medium::before {
		content: '';
		float: left;
		padding-bottom: 52.39521%;
	}

	.block-video_medium::after {
		content: '';
		display: table;
		clear: both;
	}

	.block-video_large::before {
		content: '';
		float: left;
		padding-bottom: 56.28743%;
	}

	.block-video_large::after {
		content: '';
		display: table;
		clear: both;
	}
}

@media (max-width: 767.98px) {
	.block-video {
		width: 100%;
	}

	.block-video_popup {
		-webkit-transform: translateY(200%);
		-ms-transform: translateY(200%);
		transform: translateY(200%);
	}

	.block-video_medium::before {
		content: '';
		float: left;
		padding-bottom: 58.82353%;
	}

	.block-video_medium::after {
		content: '';
		display: table;
		clear: both;
	}

	.block-video_large::before {
		content: '';
		float: left;
		padding-bottom: 73.52941%;
	}

	.block-video_large::after {
		content: '';
		display: table;
		clear: both;
	}

	.block-video__btn img, .block-video__btn svg {
		width: 65px;
		height: 65px;
	}

	.block-video__btn span {
		margin-top: 8px;
	}
}

hr {
	display: block;
	width: 100%;
	height: 1px;
	margin: 0;
	background-color: #ee0e33;
	border: none;
}

.dash-list {
	display: block;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.dash-list li {
	position: relative;
	display: block;
	padding-left: 24px;
	font-family: "Montserrat", sans-serif;
	color: #fff;
}

.dash-list li::before {
	content: "—";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #fff;
}

.background {
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

.background_center {
	background-position: center center;
}

.background_left {
	background-position: 0 center;
}

.background_right {
	background-position: 100% center;
}

.background_top {
	background-position: center 100%;
}

.background_bottom {
	background-position: center 0;
}

.bg-dark-bottom::after {
	content: "";
	position: absolute;
	z-index: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 280px;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(bottom, #000000, rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(bottom, #000000, rgba(0, 0, 0, 0));
	background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
}

.bg-dark-top::before {
	content: "";
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 280px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(0, 0, 0, 0)));
	background-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
	background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
}

@media (max-width: 1279.98px) {
	.bg-dark-bottom::after {
		height: 100px;
	}

	.bg-dark-top::before {
		height: 100%;
	}
}

.header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	display: block;
	height: 100px;
	background-color: transparent;
	-webkit-transition: background-color .3s ease;
	-o-transition: background-color .3s ease;
	transition: background-color .3s ease;
}

.header__burder {
	position: absolute;
	top: 26px;
	right: 20px;
	display: none;
	width: 34px;
	height: 30px;
}

.header__menu {
	position: absolute;
	top: 43px;
	right: 50px;
}

.header__lang {
	position: absolute;
	z-index: 5;
	right: 50px;
	bottom: -webkit-calc(-100vh + 150px);
	bottom: calc(-100vh + 150px);
	display: block;
	padding: 0;
	background-color: transparent;
	font-family: 'Mosterrat', sans-serif;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	color: #fff;
	outline: none !important;
	border: none;
	background-color: transparent;
	-webkit-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

.header__lang::before {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
	display: block;
	width: 100%;
	height: 2px;
	background-color: #ee0e33;
	-webkit-transition: -webkit-transform .2s ease;
	transition: -webkit-transform .2s ease;
	-o-transition: transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease;
}

@media (min-width: 768px) {
	.header__lang:hover, .header__lang:focus, .header__lang:active {
		color: #ee0e33;
		text-decoration: none;
	}

	.header__lang:hover::before, .header__lang:focus::before, .header__lang:active::before {
		-webkit-transform: scaleX(1);
		-ms-transform: scaleX(1);
		transform: scaleX(1);
	}
}

@media (max-width: 1699.98px) {
	.header {
		height: 90px;
	}

	.header__menu {
		top: 33px;
	}
}

@media (max-width: 767.98px) {
	.header {
		position: absolute;
		z-index: 12;
		left: auto;
		right: 0;
		width: 72.81vw;
		height: 100vh;
		padding-top: 20vh;
		background-color: #cc1535;
		-webkit-transform: translateX(100%);
		-ms-transform: translateX(100%);
		transform: translateX(100%);
		-webkit-transition: -webkit-transform .3s ease;
		transition: -webkit-transform .3s ease;
		-o-transition: transform .3s ease;
		transition: transform .3s ease;
		transition: transform .3s ease, -webkit-transform .3s ease;
	}

	.header.transform {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	.header__burder {
		display: block;
	}

	.header__menu {
		position: relative;
		top: auto;
		right: auto;
		margin-bottom: 27vh;
	}

	.header__lang {
		position: relative;
		right: auto;
		bottom: auto;
		padding-left: 24px;
		font-size: 18px;
		font-weight: 600;
	}
}

.menu-nav {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.menu-nav__item {
	display: block;
	margin-right: 60px;
	line-height: 1;
}

.menu-nav__item:last-child {
	margin-right: 0;
}

.menu-nav__item a {
	position: relative;
	display: inline-block;
	font-family: 'Mosterrat', sans-serif;
	font-size: 14px;
	line-height: 1;
	text-transform: uppercase;
	color: #fff;
	outline: none !important;
	text-decoration: none;
	-webkit-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

.menu-nav__item a::before {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	-webkit-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	background-color: #ee0e33;
	-webkit-transition: -webkit-transform .2s ease;
	transition: -webkit-transform .2s ease;
	-o-transition: transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease;
}

.menu-nav__item_active a {
	color: #ee0e33;
}

.menu-nav__item_active a::before {
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

@media (min-width: 768px) {
	.menu-nav__item a:hover, .menu-nav__item a:focus {
		color: #ee0e33;
		text-decoration: none;
	}

	.menu-nav__item a:hover::before, .menu-nav__item a:focus::before {
		-webkit-transform: scaleX(1);
		-ms-transform: scaleX(1);
		transform: scaleX(1);
	}
}

@media (max-width: 767.98px) {
	.menu-nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.menu-nav__item {
		margin-right: 0;
		margin-bottom: 20px;
	}

	.menu-nav__item:last-child {
		margin-bottom: 0;
	}

	.menu-nav__item a {
		width: 100%;
		padding: 11px 0 11px 24px;
		font-size: 18px;
		font-weight: 600;
	}

	.menu-nav__item a::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 5px;
		height: 0;
		background-color: #fff;
	}

	.menu-nav__item_active {
		background-color: rgba(255, 255, 255, 0.1);
	}

	.menu-nav__item_active a {
		color: #fff;
	}

	.menu-nav__item_active a::after {
		height: 100%;
	}

	.menu-nav__item_active a::before {
		content: none;
	}
}

.first {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	height: -webkit-calc(100vh - 100px);
	height: calc(100vh - 100px);
	padding-right: 21.25vw;
	padding-left: 8.85vw;
	-webkit-transition: -webkit-transform .5s ease;
	transition: -webkit-transform .5s ease;
	-o-transition: transform .5s ease;
	transition: transform .5s ease;
	transition: transform .5s ease, -webkit-transform .5s ease;
}

.first.transform {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.first__slogan {
	position: relative;
	display: block;
	width: 35.83vw;
}

.first__slogan::before {
	content: '';
	float: left;
	padding-bottom: 29.06977%;
}

.first__slogan::after {
	content: '';
	display: table;
	clear: both;
}

.first__slogan img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.first__btn-video {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline: none !important;
}

.first__btn-video img, .first__btn-video svg {
	display: block;
	width: 130px;
	height: 130px;
	margin-right: 40px;
}

.first__btn-video span {
	display: block;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	line-height: 1;
	color: #ee0e33;
	font-weight: 400;
}

@media (max-width: 1699.98px) {
	.first {
		padding-left: 7vw;
		padding-right: 12.11vw;
		height: -webkit-calc(100vh - 90px);
		height: calc(100vh - 90px);
	}

	.first__slogan {
		width: 42.66vw;
	}

	.first__slogan::before {
		content: '';
		float: left;
		padding-bottom: 27.47253%;
	}

	.first__slogan::after {
		content: '';
		display: table;
		clear: both;
	}
}

@media (max-width: 1279.98px) {
	.first {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		padding-left: 11.72vw;
		padding-right: 17.19vw;
	}

	.first__slogan {
		width: 71.09vw;
		margin-bottom: 90px;
	}
}

@media (max-width: 767.98px) {
	.first {
		padding-left: 24px;
		padding-right: 24px;
	}

	.first__slogan {
		width: 100%;
		margin-bottom: 40px;
	}

	.first__slogan::before {
		content: '';
		float: left;
		padding-bottom: 32.35294%;
	}

	.first__slogan::after {
		content: '';
		display: table;
		clear: both;
	}

	.first__btn-video img, .first__btn-video svg {
		width: 90px;
		height: 90px;
		margin-right: 24px;
	}
}

.second {
	position: relative;
	display: block;
	width: 100%;
	min-height: 100vh;
	padding: 15.74vh 8.33vw 0;
	-webkit-transition: -webkit-transform .5s ease;
	transition: -webkit-transform .5s ease;
	-o-transition: transform .5s ease;
	transition: transform .5s ease;
	transition: transform .5s ease, -webkit-transform .5s ease;
}

.second.transform {
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.second__tags {
	position: -webkit-sticky;
	position: sticky;
	z-index: 6;
	top: 100px;
	left: 0;
	margin: 0 0 46px;
}

.second__cards {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@media (max-width: 1699.98px) {
	.second {
		padding: 17.22vh 7.03vw 0;
	}

	.second__tags {
		top: 90px;
		margin-bottom: 32px;
	}
}

@media (max-width: 1279.98px) {
	.second {
		padding: 13.67vh 50px 0;
	}

	.second__tags {
		margin-bottom: 32px;
	}
}

@media (max-width: 767.98px) {
	.second__tags {
		top: 80px;
	}
}

.tags {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	padding: 0;
	overflow-x: auto;
	background-color: rgba(0, 0, 0, 0.8);
}

.tags_wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	overflow: none;
}

.tags__item {
	display: block;
	margin-right: 28px;
}

.tags__item:last-child {
	margin-right: 0;
}

.tags__item a {
	position: relative;
	display: inline-block;
	padding: 5px 10px 5px 19px;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	border: none;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	background-color: transparent;
	outline: none !important;
	-webkit-transition: background-color .2s ease-in, color .2s ease-in;
	-o-transition: background-color .2s ease-in, color .2s ease-in;
	transition: background-color .2s ease-in, color .2s ease-in;
}

.tags__item a::before {
	content: "#";
	position: absolute;
	display: block;
	left: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	color: #fff;
	-webkit-transition: color .2s ease-in;
	-o-transition: color .2s ease-in;
	transition: color .2s ease-in;
}

.tags__item a:hover, .tags__item a:focus, .tags__item a:active {
	text-decoration: none;
	color: #000;
	background-color: #fff;
}

.tags__item a:hover::before, .tags__item a:focus::before, .tags__item a:active::before {
	color: #000;
}

.tags__item_active a {
	text-decoration: none;
	color: #000;
	background-color: #fff;
}

.tags__item_active a::before {
	color: #000;
}

@media (max-width: 1279.98px) {
	.tags__item {
		margin-right: 22px;
	}
}

@media (max-width: 767.98px) {
	.tags__item {
		margin-right: 14px;
	}
}

.card {
	position: relative;
	display: block;
	overflow: hidden;
	outline: none !important;
	text-decoration: none;
}

.card_sm {
	width: 25%;
}

.card::before {
	content: "";
	position: absolute;
	z-index: 3;
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	border: 2px solid transparent;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.card:hover, .card:focus, .card:active {
	text-decoration: none;
}

.card:hover::before, .card:focus::before, .card:active::before {
	background-color: rgba(0, 0, 0, 0);
	border-color: #ee0e33;
}

.card:hover .card__wrap img, .card:focus .card__wrap img, .card:active .card__wrap img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.card__wrap {
	position: relative;
	z-index: 2;
	width: 100%;
}

.card__wrap::before {
	content: '';
	float: left;
	padding-bottom: 100%;
}

.card__wrap::after {
	content: '';
	display: table;
	clear: both;
}

.card__wrap > img {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: 50% 50%;
	object-position: 50% 50%;
	-webkit-transition: -webkit-transform .2s ease;
	transition: -webkit-transform .2s ease;
	-o-transition: transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease;
}

.card__text {
	position: absolute;
	z-index: 3;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: -webkit-calc(100% - 40px);
	width: calc(100% - 40px);
	height: 28px;
	margin: 0;
	overflow: hidden;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	line-height: 1;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	pointer-events: none;
}

.card__text_left {
	-webkit-transform-origin: bottom left;
	-ms-transform-origin: bottom left;
	transform-origin: bottom left;
	left: 20px;
	bottom: 20px;
	text-align: left;
	-webkit-transform: rotate(-90deg) translateY(100%);
	-ms-transform: rotate(-90deg) translateY(100%);
	transform: rotate(-90deg) translateY(100%);
}

.card__text_right {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	right: 20px;
	top: 20px;
	text-align: right;
	-webkit-transform-origin: top right;
	-ms-transform-origin: top right;
	transform-origin: top right;
	-webkit-transform: rotate(-90deg) translateY(-100%);
	-ms-transform: rotate(-90deg) translateY(-100%);
	transform: rotate(-90deg) translateY(-100%);
}

@media (max-width: 1699.98px) {
	.card_sm {
		width: 33.33%;
	}

	.card_sm:nth-child(3n + 2) {
		width: 33.34%;
	}
}

@media (max-width: 1279.98px) {
	.card_sm {
		width: 50%;
	}

	.card_sm:nth-child(3n + 2) {
		width: 50%;
	}
}

@media (max-width: 767.98px) {
	.card_sm {
		width: 100%;
	}

	.card_sm:nth-child(3n + 2) {
		width: 100%;
	}
}

.contacts {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 30vh 9.32vw 0 8.54vw;
	min-height: 100vh;
}

.contacts__contact-us {
	display: block;
	padding-top: 10vh;
}

.contacts__wrap-img {
	position: relative;
	display: block;
	width: 45.21vw;
	margin-bottom: 54px;
}

.contacts__wrap-img::before {
	content: '';
	float: left;
	padding-bottom: 24.07661%;
}

.contacts__wrap-img::after {
	content: '';
	display: table;
	clear: both;
}

.contacts__wrap-img img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: 0 50%;
	object-position: 0 50%;
}

.contacts__info {
	margin-bottom: 64px;
}

.contacts__soc {
	margin: 0;
}

.contacts__decorate-img {
	position: relative;
	display: block;
	width: 33.54vw;
}

.contacts__decorate-img::before {
	content: '';
	float: left;
	padding-bottom: 117.54658%;
}

.contacts__decorate-img::after {
	content: '';
	display: table;
	clear: both;
}

.contacts__decorate-img img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: 50% 100%;
	object-position: 50% 100%;
}

@media (max-width: 1699.98px) {
	.contacts {
		padding: 27.31vh 7.03vw 0;
	}

	.contacts__contact-us {
		padding-top: 5vh;
	}

	.contacts__wrap-img {
		width: 51.78vw;
		margin-bottom: 40px;
	}

	.contacts__info {
		margin-bottom: 40px;
	}

	.contacts__decorate-img {
		width: 33.75vw;
	}

	.contacts__decorate-img::before {
		content: '';
		float: left;
		padding-bottom: 117.82407%;
	}

	.contacts__decorate-img::after {
		content: '';
		display: table;
		clear: both;
	}
}

@media (max-width: 1279.98px) {
	.contacts {
		padding: 27.83vw 84px 0 50px;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.contacts__contact-us {
		width: 100%;
		margin-bottom: 30px;
		padding-top: 0;
	}

	.contacts__wrap-img {
		width: 578px;
		margin-bottom: 66px;
	}

	.contacts__info {
		margin-bottom: 30px;
	}

	.contacts__decorate-img {
		width: 364px;
		margin-left: 284px;
	}

	.contacts__decorate-img::before {
		content: '';
		float: left;
		padding-bottom: 117.85714%;
	}

	.contacts__decorate-img::after {
		content: '';
		display: table;
		clear: both;
	}
}

@media (max-width: 767.98px) {
	.contacts {
		padding: 150px 24px 0;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.contacts__wrap-img {
		width: 100%;
		margin-bottom: 45px;
	}

	.contacts__contact-us {
		margin-bottom: 56px;
	}

	.contacts__info {
		margin-bottom: 40px;
	}

	.contacts__decorate-img {
		width: 100%;
		margin-left: 0;
	}

	.contacts__decorate-img::before {
		content: '';
		float: left;
		padding-bottom: 117.64706%;
	}

	.contacts__decorate-img::after {
		content: '';
		display: table;
		clear: both;
	}
}

.info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding-right: 10vw;
}

.info__email {
	display: inline-block;
	font-family: 'Mosterrat', sans-serif;
	font-size: 14px;
	line-height: 1;
	font-weight: 700;
	color: #ee0e33;
	text-transform: uppercase;
}

.info__contacts {
	display: block;
	max-width: 290px;
}

.info__contacts p, .info__contacts span {
	display: block;
	font-family: 'Mosterrat', sans-serif;
	font-size: 14px;
	line-height: 1;
	font-weight: 700;
	color: #fff;
}

.info__contacts p {
	margin-bottom: 12px;
	text-transform: uppercase;
}

@media (max-width: 1699.98px) {
	.info {
		padding-right: 6vw;
	}
}

@media (max-width: 1279.98px) {
	.info {
		padding-right: 0;
	}
}

@media (max-width: 767.98px) {
	.info {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.info__email {
		margin-bottom: 32px;
	}

	.info__contacts p {
		max-width: 218px;
	}
}

.soc-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	list-style-type: none;
}

.soc-list__item {
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 40px;
}

.soc-list__item:last-child {
	margin-right: 0;
}

.soc-list__item a {
	display: inline-block;
}

.soc-list__item a img, .soc-list__item a svg {
	display: block;
	width: 100%;
	height: 100%;
}

.soc-list__item a img path, .soc-list__item a svg path {
	-webkit-transition: fill .2s ease;
	-o-transition: fill .2s ease;
	transition: fill .2s ease;
}

.soc-list__item a:hover img path, .soc-list__item a:hover svg path, .soc-list__item a:focus img path, .soc-list__item a:focus svg path, .soc-list__item a:active img path, .soc-list__item a:active svg path {
	fill: #ee0e33;
}

@media (max-width: 1699.98px) {
	.soc-list__item {
		margin-right: 36px;
	}
}

.btn-burger {
	position: relative;
	width: 34px;
	height: 30px;
	padding: 0;
	border: none;
	background-color: transparent;
	outline: none !important;
	cursor: pointer;
}

.btn-burger::before, .btn-burger::after {
	content: "";
	position: absolute;
	z-index: 1;
	left: 3px;
	display: block;
	width: 28px;
	height: 3px;
	background-color: #fff;
}

.btn-burger::before {
	top: 9px;
}

.btn-burger::after {
	bottom: 9px;
}

.btn-burger_close::before {
	top: 14px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.btn-burger_close::after {
	bottom: 14px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.popup {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 13;
	display: none;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	opacity: 0;
	-webkit-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

.popup__bg {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.popup__wrap {
	position: relative;
}

.popup__close {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1;
	display: block;
	width: 40px;
	height: 40px;
	padding: 0;
	border: none;
	cursor: pointer;
	outline: none !important;
	background-color: transparent;
}

.popup__close svg {
	display: block;
	width: 100%;
	height: 100%;
}

.popup__close svg g {
	fill: rgba(255, 255, 255, 0.5);
	-webkit-transition: fill .2s ease;
	-o-transition: fill .2s ease;
	transition: fill .2s ease;
}

.popup__close:hover svg g {
	fill: white;
}

.popup.display {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.popup.visible {
	opacity: 1;
}

.popup__bg {
	background-color: #000;
}

.b-content {
	font-family: "Montserrat", sans-serif;
}

.b-content *:last-child {
	margin-bottom: 0;
}

.b-content p {
	display: block;
	margin-bottom: 30px;
	font-family: inherit;
	font-size: 20px;
	line-height: 1.5;
	color: #fff;
}

.b-content_ac p {
	position: relative;
	display: block;
	padding: 36px 0;
	font-family: inherit;
	font-size: 24px;
	line-height: 1.5;
	color: #fff;
	text-align: center;
}

.b-content_ac p::before, .b-content_ac p::after {
	content: "";
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	display: block;
	width: 16px;
	height: 16px;
	background-color: #ee0e33;
}

.b-content_ac p::before {
	top: 0;
}

.b-content_ac p::after {
	bottom: 0;
}

.b-content a {
	position: relative;
	display: inline-block;
	color: #ee0e33;
	text-decoration: none;
	outline: none !important;
}

.b-content a::after {
	content: "";
	position: absolute;
	z-index: 2;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 1px;
	background-color: #ee0e33;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition: -webkit-transform .2s ease;
	transition: -webkit-transform .2s ease;
	-o-transition: transform .2s ease;
	transition: transform .2s ease;
	transition: transform .2s ease, -webkit-transform .2s ease;
}

.b-content a:hover::after, .b-content a:focus::after, .b-content a:active::after {
	text-decoration: none;
	-webkit-transform: scaleX(1);
	-ms-transform: scaleX(1);
	transform: scaleX(1);
}

@media (max-width: 1699.98px) {
	.b-content p {
		font-size: 18px;
	}
}

@media (max-width: 1279.98px) {
	.b-content p {
		margin-bottom: 24px;
	}
}

@media (max-width: 767.98px) {
	.b-content p {
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 20px;
	}

	.b-content_ac p {
		font-size: 16px;
	}

	.b-content_fz18 p {
		font-size: 18px;
		line-height: 27px;
	}
}

.content-sect {
	display: block;
	padding-top: 24px;
	padding-bottom: 120px;
}

.content-sect h2 {
	margin-bottom: 40px;
}

.content-sect h3 {
	margin-bottom: 20px;
}

.content-sect__wrap {
	position: relative;
	display: block;
	width: 100%;
	margin-bottom: 32px;
}

.content-sect__wrap::before {
	content: '';
	float: left;
	padding-bottom: 51.75%;
}

.content-sect__wrap::after {
	content: '';
	display: table;
	clear: both;
}

.content-sect__wrap > img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: 50% 50%;
	object-position: 50% 50%;
}

.content-sect__content {
	margin-bottom: 80px;
}

.content-sect__video {
	margin-bottom: 40px;
}

.content-sect__names ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.content-sect__names ul li {
	display: block;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.5;
	color: #fff;
}

@media (max-width: 1699.98px) {
	.content-sect {
		padding-bottom: 100px;
	}

	.content-sect__wrap::before {
		content: '';
		float: left;
		padding-bottom: 73.92857%;
	}

	.content-sect__wrap::after {
		content: '';
		display: table;
		clear: both;
	}

	.content-sect__content {
		margin-bottom: 62px;
	}

	.content-sect__video {
		margin-bottom: 32px;
	}
}

@media (max-width: 1279.98px) {
	.content-sect h2 {
		margin-bottom: 20px;
	}

	.content-sect__wrap {
		margin-bottom: 20px;
	}

	.content-sect__wrap::before {
		content: '';
		float: left;
		padding-bottom: 123.9521%;
	}

	.content-sect__wrap::after {
		content: '';
		display: table;
		clear: both;
	}

	.content-sect__video {
		margin-bottom: 20px;
	}
}

@media (max-width: 767.98px) {
	.content-sect {
		padding-top: 20px;
		padding-bottom: 50px;
	}

	.content-sect__wrap::before {
		content: '';
		float: left;
		padding-bottom: 73.52941%;
	}

	.content-sect__wrap::after {
		content: '';
		display: table;
		clear: both;
	}

	.content-sect__content {
		margin-bottom: 40px;
	}

	.content-sect__names ul li {
		font-size: 14px;
		line-height: 20px;
	}
}

.cases-0 {
	display: block;
	padding-top: 130px;
	padding-bottom: 120px;
}

.cases-0__title {
	display: block;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.cases-0__row-info {
	margin-bottom: 16px;
}

.cases-0__info {
	margin-bottom: 12px;
}

.cases-0__video {
	margin-bottom: 28px;
}

.cases-0__tags {
	margin-bottom: 110px;
}

@media (max-width: 1699.98px) {
	.cases-0__row-info {
		margin-bottom: 8px;
	}
}

@media (max-width: 1279.98px) {
	.cases-0 {
		padding-bottom: 92px;
	}

	.cases-0__title {
		margin-bottom: 30px;
	}

	.cases-0__row-info {
		margin-bottom: 18px;
	}

	.cases-0__video {
		margin-bottom: 36px;
	}

	.cases-0__tags {
		margin-bottom: 85px;
	}
}

@media (max-width: 767.98px) {
	.cases-0 {
		padding-top: 86px;
		padding-bottom: 65px;
	}

	.cases-0__row-info {
		margin-bottom: 6px;
	}

	.cases-0__row-info {
		margin-bottom: 22px;
	}

	.cases-0__info {
		margin-bottom: 8px;
	}

	.cases-0__video {
		margin-bottom: 20px;
	}

	.cases-0__tags {
		margin-bottom: 50px;
	}
}

.cases-info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.cases-info__left {
	display: block;
	margin-right: 10px;
}

.cases-info__left span {
	color: #979797;
}

.cases-info__left span, .cases-info__right span {
	display: block;
	margin-bottom: 10px;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	line-height: 1.5;
}

.cases-info__left span:last-child, .cases-info__right span:last-child {
	margin-bottom: 0;
}

@media (max-width: 1699.98px) {
	.cases-info__left span, .cases-info__right span {
		margin-bottom: 12px;
		font-size: 18px;
	}
}

@media (max-width: 1279.98px) {
	.cases-info__left span, .cases-info__right span {
		margin-bottom: 12px;
		font-size: 14px;
		line-height: 20px;
	}
}

@media (max-width: 767.98px) {
	.cases-info__left, .cases-info__right {
		width: -webkit-calc(50% - 12px);
		width: calc(50% - 12px);
	}

	.cases-info__left span, .cases-info__right span {
		margin-bottom: 8px;
		font-size: 12px;
		line-height: 1.33;
	}

	.cases-info__left {
		margin-right: 24px;
	}
}

.gallery-sect {
	padding-top: 24px;
	padding-bottom: 80px;
}

.gallery-sect h2 {
	margin-bottom: 40px;
}

.gallery-sect__card {
	margin-bottom: 40px;
}

@media (max-width: 1699.98px) {
	.gallery-sect h2 {
		margin-bottom: 56px;
	}
}

@media (max-width: 1279.98px) {
	.gallery-sect h2 {
		margin-bottom: 40px;
	}
}

@media (max-width: 767.98px) {
	.gallery-sect {
		padding-top: 20px;
		padding-bottom: 50px;
	}

	.gallery-sect h2 {
		margin-bottom: 20px;
	}

	.gallery-sect__card {
		margin: 0;
	}
}

.cases-more {
	padding-top: 24px;
	padding-bottom: 250px;
}

.cases-more__cards {
	display: block;
	margin-top: 34px;
}

@media (max-width: 1699.98px) {
	.cases-more {
		padding-bottom: 235px;
	}
}

@media (max-width: 1279.98px) {
	.cases-more {
		padding-bottom: 154px;
	}

	.cases-more h2 {
		margin-bottom: 40px;
	}

	.cases-more__cards {
		margin-top: 0;
	}
}

@media (max-width: 767.98px) {
	.cases-more {
		padding-top: 20px;
		padding-bottom: 64px;
	}

	.cases-more__card {
		margin-bottom: 20px;
	}
}

.agency {
	padding-bottom: 108px;
}

.agency__top-bg {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 1080px;
}

@media (max-width: 1699.98px) {
	.agency {
		padding-bottom: 200px;
	}

	.agency__top-bg {
		height: 800px;
	}
}

@media (max-width: 1279.98px) {
	.agency {
		padding-bottom: 100px;
	}
}

@media (max-width: 767.98px) {
	.agency {
		padding-bottom: 0;
	}
}

.about {
	padding-top: 130px;
	padding-bottom: 120px;
}

.about__title {
	display: block;
	margin-bottom: 80px;
}

.about__cnt {
	display: block;
	margin-bottom: 10px;
	font-family: "Montserrat", sans-serif;
	font-size: 73px;
	line-height: 1;
	font-weight: 900;
	color: #fff;
}

.about__desc {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	line-height: 1.5;
	font-weight: 400;
	color: #fff;
}

@media (max-width: 1699.98px) {
	.about {
		padding-bottom: 100px;
	}
}

@media (max-width: 1279.98px) {
	.about {
		padding-bottom: 100px;
	}

	.about__title {
		margin-bottom: 50px;
	}

	.about__desc {
		display: block;
		margin-bottom: 54px;
	}
}

@media (max-width: 767.98px) {
	.about {
		padding-top: 86px;
		padding-bottom: 50px;
	}

	.about__title {
		margin-bottom: 50px;
	}

	.about__cnt {
		margin-bottom: 5px;
		font-size: 40px;
	}

	.about__desc {
		margin-bottom: 40px;
		font-size: 14px;
	}
}

.awards {
	padding-top: 24px;
	padding-bottom: 60px;
}

.awards__title {
	display: block;
	margin-bottom: 68px;
}

.awards__card {
	display: block;
	margin-bottom: 60px;
}

@media (max-width: 1699.98px) {
	.awards__card, .awards__title {
		margin-bottom: 40px;
	}
}

@media (max-width: 1279.98px) {
	.awards {
		padding-top: 20px;
		padding-bottom: 10px;
	}

	.awards__card {
		margin-bottom: 50px;
	}
}

@media (max-width: 767.98px) {
	.awards {
		padding-top: 20px;
	}

	.awards__card {
		margin-bottom: 40px;
	}
}

.awards-card__top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 24px;
	padding-bottom: 24px;
	border-bottom: 1px solid #fff;
	-webkit-transition: border-color .2s ease;
	-o-transition: border-color .2s ease;
	transition: border-color .2s ease;
}

.awards-card__logo {
	display: block;
	width: 300px;
	min-width: 300px;
}

.awards-card__logo img {
	display: block;
	width: 100%;
	height: auto;
}

.awards-card__awards {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-width: 104px;
	min-height: 24px;
	margin-top: 30px;
}

.awards-card__awards img, .awards-card__awards svg {
	display: block;
	width: 24px;
	height: 24px;
	margin-right: 16px;
}

.awards-card__awards img:last-child, .awards-card__awards svg:last-child {
	margin-right: 0;
}

.awards-card__name {
	display: block;
	margin-bottom: 20px;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	line-height: 1;
	font-weight: 900;
	color: #fff;
	-webkit-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

.awards-card__list li {
	margin-bottom: 16px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
}

.awards-card__list li:last-child {
	margin-bottom: 0;
}

@media (min-width: 768px) {
	.awards-card:hover .awards-card__top {
		border-color: #ee0e33;
	}

	.awards-card:hover .awards-card__name {
		color: #ee0e33;
	}
}

@media (max-width: 1699.98px) {
	.awards-card__top {
		margin-bottom: 20px;
	}

	.awards-card__list li {
		margin-bottom: 20px;
	}
}

@media (max-width: 1279.98px) {
	.awards-card__top {
		margin-bottom: 24px;
		padding-bottom: 30px;
	}

	.awards-card__name {
		margin-bottom: 16px;
	}
}

@media (max-width: 767.98px) {
	.awards-card__top {
		margin-bottom: 10px;
		padding-bottom: 20px;
	}

	.awards-card__logo {
		width: 100%;
		min-width: 100%;
	}

	.awards-card__logo img, .awards-card__logo svg {
		width: 100%;
		height: auto;
	}

	.awards-card__awards {
		margin-top: 20px;
	}

	.awards-card__name {
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 30px;
	}

	.awards-card__list li {
		margin-bottom: 10px;
	}
}

.we-do {
	padding-top: 24px;
	padding-bottom: 70px;
}

.we-do__title {
	margin-bottom: 40px;
}

.we-do__video-card {
	margin-bottom: 50px;
}

.we-do__small-card {
	margin-bottom: 50px;
}

@media (max-width: 1699.98px) {
	.we-do {
		padding-bottom: 50px;
	}

	.we-do__video-card {
		margin-bottom: 40px;
	}

	.we-do__video-card:last-child {
		margin-bottom: 60px;
	}
}

@media (max-width: 1279.98px) {
	.we-do__video-card {
		margin-bottom: 40px;
	}

	.we-do__video-card:last-child {
		margin-bottom: 50px;
	}
}

@media (max-width: 767.98px) {
	.we-do {
		padding-top: 20px;
		padding-bottom: 10px;
	}

	.we-do__title {
		margin-bottom: 20px;
	}

	.we-do__video-card {
		margin-bottom: 20px;
	}

	.we-do__video-card:last-child {
		margin-bottom: 40px;
	}

	.we-do__small-card {
		margin-bottom: 40px;
	}
}

.video-card {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	min-height: 272px;
	padding: 86px;
	overflow: hidden;
	background-color: #181818;
}

.video-card::before {
	content: "";
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
}

.video-card__object {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: 50% 50%;
	object-position: 50% 50%;
	pointer-events: none;
	opacity: 0;
	-webkit-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
}

.video-card__icon {
	position: relative;
	z-index: 2;
	display: block;
	margin-right: 6.25vw;
	width: 90px;
	min-width: 90px;
	height: 90px;
}

.video-card__icon path {
	fill: rgba(255, 255, 255, 0.5);
	-webkit-transition: fill .2s ease;
	-o-transition: fill .2s ease;
	transition: fill .2s ease;
}

.video-card__name {
	position: relative;
	z-index: 2;
	width: 13vw;
	min-width: 13vw;
	margin-right: 40px;
	text-transform: uppercase;
}

.video-card__text {
	position: relative;
	z-index: 2;
	display: block;
	width: 40.63vw;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #fff;
}

@media (min-width: 768px) {
	.video-card:hover::before {
		background-color: rgba(0, 0, 0, 0.7);
	}

	.video-card:hover .video-card__object {
		opacity: 1;
	}

	.video-card:hover .video-card__icon path {
		fill: white;
	}
}

@media (max-width: 1699.98px) {
	.video-card {
		padding: 65px 60px 65px 40px;
	}

	.video-card__name {
		width: 19.53vw;
	}

	.video-card__text {
		width: 45vw;
	}
}

@media (max-width: 1279.98px) {
	.video-card {
		padding: 40px 60px 60px;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.video-card::before {
		background-color: rgba(0, 0, 0, 0.7);
	}

	.video-card__object {
		opacity: 1;
	}

	.video-card__icon {
		margin-right: 40px;
		margin-bottom: 40px;
	}

	.video-card__icon path {
		fill: white;
	}

	.video-card__name {
		width: -webkit-calc(100% - 130px);
		width: calc(100% - 130px);
		margin-right: 0;
		margin-bottom: 40px;
	}

	.video-card__text {
		width: 100%;
	}
}

@media (max-width: 767.98px) {
	.video-card {
		padding: 32px 20px 30px;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.video-card__icon {
		margin-right: 0;
		margin-bottom: 24px;
	}

	.video-card__name {
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
}

.small-card {
	display: block;
}

.small-card__icon {
	display: block;
	width: 90px;
	height: 90px;
	margin-bottom: 30px;
}

.small-card__icon path {
	fill: rgba(255, 255, 255, 0.5);
	-webkit-transition: fill .2s ease;
	-o-transition: fill .2s ease;
	transition: fill .2s ease;
}

.small-card__name {
	margin-bottom: 16px;
	text-transform: uppercase;
	-webkit-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

.small-card__text {
	display: block;
	width: -webkit-calc(100% - 36px);
	width: calc(100% - 36px);
	margin-bottom: 0;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #fff;
}

@media (min-width: 768px) {
	.small-card:hover .small-card__name {
		color: #ee0e33;
	}

	.small-card:hover .small-card__icon path {
		fill: white;
	}
}

@media (max-width: 1699.98px) {
	.small-card__name {
		margin-bottom: 20px;
	}

	.small-card__text {
		width: 100%;
	}
}

@media (max-width: 1279.98px) {
	.small-card__name {
		margin-bottom: 16px;
	}
}

@media (max-width: 767.98px) {
	.small-card__icon {
		margin: 0 auto 20px;
	}

	.small-card__name, .small-card__text {
		text-align: center;
	}
}

.clients {
	padding-top: 24px;
	padding-bottom: 64px;
}

.clients__title {
	display: block;
	margin-bottom: 80px;
}

.clients__logos {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.clients__logos a {
	display: block;
	width: -webkit-calc(20% - 32px);
	width: calc(20% - 32px);
	margin-bottom: 56px;
	outline: none !important;
	cursor: pointer;
}

.clients__logos a img, .clients__logos a svg {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: 50% 50%;
	object-position: 50% 50%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: -webkit-filter .2s ease;
	transition: -webkit-filter .2s ease;
	-o-transition: filter .2s ease;
	transition: filter .2s ease;
	transition: filter .2s ease, -webkit-filter .2s ease;
}

@media (min-width: 768px) {
	.clients__logos img:hover, .clients__logos svg:hover {
		-webkit-filter: none;
		filter: none;
	}
}

@media (max-width: 1699.98px) {
	.clients {
		padding-bottom: 60px;
	}

	.clients__logos a {
		margin-bottom: 40px;
	}
}

@media (max-width: 1279.98px) {
	.clients {
		padding-bottom: 80px;
	}

	.clients__logos a {
		height: 48px;
		margin-right: 40px;
		margin-bottom: 20px;
	}

	.clients__logos a:nth-child(5n) {
		margin-right: 0;
	}
}

@media (max-width: 767.98px) {
	.clients {
		padding-top: 20px;
		padding-bottom: 40px;
	}

	.clients__logos a {
		width: 25%;
		height: 30px;
		margin-bottom: 10px;
		margin-right: 0;
	}
}

.team {
	padding-top: 136px;
}

.team__title {
	display: block;
	font-family: "Montserrat", sans-serif;
	font-size: 120px;
	font-weight: 900;
	line-height: 100px;
	color: #fff;
	text-transform: uppercase;
}

.team__card {
	position: relative;
	z-index: 1;
	display: block;
	margin-bottom: 170px;
}

.team__card_large {
	margin-bottom: 110px;
}

@media (max-width: 1699.98px) {
	.team {
		padding-top: 80px;
		padding-bottom: 0;
	}

	.team__title {
		font-size: 70px;
		line-height: 90px;
	}

	.team__card {
		margin-bottom: 50px;
	}

	.team__card_large {
		margin-bottom: 50px;
	}
}

@media (max-width: 1279.98px) {
	.team {
		background-position: 36% center;
	}

	.team__title {
		margin-bottom: 72px;
		font-size: 50px;
		line-height: 50px;
	}

	.team__card {
		margin-bottom: 40px;
	}
}

@media (max-width: 767.98px) {
	.team {
		padding-top: 50px;
		padding-bottom: 90px;
	}

	.team__title {
		margin-bottom: 56px;
		font-size: 35px;
		line-height: 40px;
	}

	.team__card {
		margin-bottom: 30px;
	}
}

.team-card__ava {
	display: block;
	width: 164px;
	height: 164px;
	margin: 0 auto 16px;
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: 50% 50%;
	object-position: 50% 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.team-card__full-name {
	display: block;
	margin-bottom: 8px;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
	color: #fff;
	text-align: center;
}

.team-card__post {
	display: block;
	margin: 0 auto 0;
	max-width: 148px;
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #fff;
	text-align: center;
}

.team-card_large .team-card__ava {
	width: 300px;
	height: 300px;
	margin: 0 0 28px;
}

.team-card_large .team-card__full-name {
	padding-right: 3vw;
	font-size: 32px;
	line-height: 40px;
}

.team-card_large .team-card__post {
	max-width: 100%;
	margin: 0;
	padding-right: 3.2vw;
}

@media (max-width: 1279.98px) {
	.team-card__post {
		max-width: 100%;
	}

	.team-card_large .team-card__ava {
		width: 256px;
		height: 256px;
		margin-left: auto;
		margin-right: auto;
	}

	.team-card_large .team-card__full-name {
		padding-right: 0;
		font-size: 24px;
		line-height: 40px;
	}

	.team-card_large .team-card__post {
		font-size: 14px;
		line-height: 20px;
		padding-right: 0;
	}
}

@media (max-width: 767.98px) {
	.team-card__ava {
		width: 112px;
		height: 112px;
		margin-bottom: 10px;
	}

	.team-card__full-name {
		font-size: 14px;
		line-height: 16px;
	}

	.team-card__post {
		font-size: 10px;
		line-height: 15px;
	}

	.team-card_large .team-card__ava {
		width: 180px;
		height: 180px;
		margin-bottom: 16px;
	}

	.team-card_large .team-card__full-name {
		font-size: 20px;
		line-height: 30px;
	}
}

.vacansies {
	padding-top: 130px;
	padding-bottom: 150px;
}

.vacansies__top-bg {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 1080px;
}

.vacansies__title, .vacansies__annotation, .vacansies__card {
	position: relative;
	z-index: 2;
}

.vacansies__title {
	margin-bottom: 80px;
}

.vacansies__annotation {
	margin-bottom: 230px;
}

.vacansies__card {
	margin-bottom: 50px;
}

@media (max-width: 1699.98px) {
	.vacansies__top-bg {
		height: 720px;
	}

	.vacansies__annotation {
		margin-bottom: 120px;
	}
}

@media (max-width: 1279.98px) {
	.vacansies__annotation {
		margin-bottom: 170px;
	}
}

@media (max-width: 767.98px) {
	.vacansies {
		padding-bottom: 130px;
		padding-top: 86px;
	}

	.vacansies__top-bg {
		height: 500px;
	}

	.vacansies__title {
		margin-bottom: 120px;
	}

	.vacansies__annotation {
		margin-bottom: 80px;
	}
}

.vacansies-card {
	display: block;
	padding-top: 30px;
	border-top: 1px solid #fff;
	-webkit-transition: border-color .2s ease;
	-o-transition: border-color .2s ease;
	transition: border-color .2s ease;
	text-decoration: none;
	cursor: pointer;
	outline: none !important;
}

.vacansies-card:hover, .vacansies-card:focus, .vacansies-card:active {
	border-color: #ee0e33;
	text-decoration: none;
}

.vacansies-card:hover .vacansies-card__post, .vacansies-card:focus .vacansies-card__post, .vacansies-card:active .vacansies-card__post {
	color: #ee0e33;
}

.vacansies-card__prew {
	display: block;
	width: 100%;
	height: 324px;
	margin-bottom: 30px;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: 50% 50%;
	object-position: 50% 50%;
}

.vacansies-card__post {
	display: block;
	min-height: 80px;
	margin-bottom: 24px;
	-webkit-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

.vacansies-card__list li {
	margin-bottom: 12px;
	font-size: 20px;
	line-height: 1.5;
}

.vacansies-card__list li:last-child {
	margin-bottom: 0;
}

@media (max-width: 1699.98px) {
	.vacansies-card__post {
		margin-bottom: 10px;
	}

	.vacansies-card__list li {
		margin-bottom: 10px;
		font-size: 18px;
	}
}

@media (max-width: 1279.98px) {
	.vacansies-card__prew {
		margin-bottom: 20px;
	}

	.vacansies-card__post {
		font-size: 24px;
		line-height: 30px;
	}

	.vacansies-card__list li {
		font-size: 14px;
		line-height: 20px;
	}
}

.vacancie {
	padding-top: 145px;
	padding-bottom: 120px;
}

.vacancie__back {
	display: block;
	width: 97px;
	height: 47px;
	margin-bottom: 40px;
	outline: none !important;
	cursor: pointer;
}

.vacancie__back img, .vacancie__back svg {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.vacancie__title {
	position: relative;
	z-index: 2;
	margin-bottom: 80px;
}

.vacancie__content {
	position: relative;
	z-index: 2;
}

@media (max-width: 1279.98px) {
	.vacancie__back {
		width: 49px;
		height: 24px;
		margin-bottom: 30px;
	}
}

@media (max-width: 767.98px) {
	.vacancie__title {
		margin-bottom: 75px;
	}
}
