.agency {
	padding-bottom: 108px;
	// &__top-bg {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	display: block;
	// 	width: 100%;
	// 	height: 1080px;
	// }
}

// @include media(md) {
// 	.agency {
// 		&__top-bg {
// 			height: 800px;
// 		}
// 	}
// }

@include media(sm) {
	.agency {
		padding-bottom: 100px;
	}
}

@include media(xs) {
	.agency {
		padding-bottom: 0;
	}
}

.about {
	padding-top: 210px;
	padding-bottom: 30px;
	&__title {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		margin-bottom: 34px;
		hr {
			display: block;
			width: _col(5, lg);
			height: 1px;
			margin: 0 4.8vw 0 0;
			background-color: $ac;
			border: none;
		}
	}
	&__bruce-img {
		display: block;
		width: 100%;
		height: auto;
		margin-top: 80px;
		margin-left: 50px;
		max-width: 584px;
		object-position: 50% 50%;
		object-fit: contain;
	}
}

@include media(md) {
	.about {
		padding-bottom: 30px;
		&__title {
			margin-bottom: 40px;
			hr {
				width: _col(6);
				margin: 0 24px 0 0;
			}
		}
		&__bruce-img {
			width: 100%;
			max-width: 100%;
			margin: 0;
		}
	}
}

@include media(sm) {
	.about {
		padding-bottom: 70px;
		&__title {
			margin-bottom: 45px;
			hr {
				display: none;
			}
		}
		&__bruce-img {
			margin-bottom: 64px;
		}
	}
}

@include media(xs) {
	.about {
		padding-top: 86px;
		padding-bottom: 50px;
		&__title {
			margin-bottom: 36px;
		}
	}
}

.awards {
	padding-bottom: 70px;
	&__title {
		display: block;
		margin-bottom: 120px;
	}
	&__card {
		display: block;
		margin-bottom: 60px;
		opacity: 0;
		transition: transform .8s cubic-bezier(.25, .1, .02, .99), opacity .8s cubic-bezier(.25, .1, .02, .99);
		transform: translateY(100px);
		&.up {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

@include media(md) {
	.awards {
		padding-bottom: 40px;
		&__card,
		&__title {
			margin-bottom: 40px;
		}
	}
}

@include media(sm) {
	.awards {
		padding-top: 20px;
		padding-bottom: 10px;
		&__card {
			margin-bottom: 50px;
		}
	}
}

@include media(xs) {
	.awards {
		padding-top: 20px;
		&__title {
			margin-bottom: 36px;
		}
		&__card {
			margin-bottom: 40px;
		}
	}
}

.awards-card {
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
		margin-bottom: 24px;
		padding-bottom: 24px;
		border-bottom: 1px solid #fff;
		transition: border-color .2s ease;
	}
	&__logo {
		display: block;
		width: 300px;
		min-width: 300px;
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
	&__awards {
		display: flex;
		min-width: 104px;
		min-height: 24px;
		margin-top: 30px;
		img, svg {
			display: block;
			width: 24px;
			height: 24px;
			margin-right: 16px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&__name {
		display: block;
		margin-bottom: 20px;
		font-family: "Montserrat", sans-serif;
		font-size: 20px;
		line-height: 1;
		font-weight: 700;
		color: #fff;
		transition: color .2s ease;
		text-decoration: none;
		outline: none !important;
		cursor: pointer;
		&:hover, &:focus, &:active {
			text-decoration: none;
		}
	}
	&__list {
		li {
			margin-bottom: 16px;
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@include media-up(sm) {
	.awards-card {
		$p: &;
		&:hover {
			#{$p}__top {
				border-color: $ac;
			}
			#{$p}__name {
				color: $ac;
			}
		}
	}
}

@include media(md) {
	.awards-card {
		&__top {
			margin-bottom: 20px;
		}
		&__list {
			li {
				margin-bottom: 20px;
			}
		}
	}
}

@include media(sm) {
	.awards-card {
		&__top {
			margin-bottom: 24px;
			padding-bottom: 30px;
		}
		&__name {
			margin-bottom: 16px;
		}
	}
}

@include media(xs) {
	.awards-card {
		&__top {
			margin-bottom: 10px;
			padding-bottom: 20px;
		}
		&__logo {
			width: 100%;
			min-width: 100%;
			img, svg {
				width: 100%;
				height: auto;
			}
		}
		&__awards {
			margin-top: 20px;
		}
		&__name {
			margin-bottom: 10px;
			font-size: 18px;
			line-height: 30px;
		}
		&__list {
			li {
				margin-bottom: 10px;
			}
		}
	}
}

.we-do {
	padding-bottom: 110px;
	&__title {
		margin-bottom: 100px;
	}
	&__video-card {
		margin-bottom: 28px;
		opacity: 0;
		transform: translateY(200px);
		transition-property: transform, opacity;
		transition-duration: .8s;
		transition-timing-function: cubic-bezier(.25, .1, .02, .99);
		&.up {
			opacity: 1;
			transform: translateY(0);
		}
		&:last-child {
			margin-bottom: 130px;
		}
	}
	&__small-card {
		margin-bottom: 50px;
	}
}

@include media(md) {
	.we-do {
		padding-bottom: 10px;
		&__title {
			margin-bottom: 40px;
		}
		&__video-card {
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 60px;
			}
		}
	}
}

@include media(sm) {
	.we-do {
		&__video-card {
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 50px;
			}
		}
	}
}

@include media(xs) {
	.we-do {
		padding-top: 20px;
		padding-bottom: 10px;
		&__title {
			margin-bottom: 36px;
		}
		&__video-card {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 40px;
			}
		}
		&__small-card {
			margin-bottom: 40px;
		}
	}
}

.video-card {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 272px;
	padding: 86px;
	overflow: hidden;
	border: 1px solid #fff;
	background-color: #000;
	transition: border-color .3s ease-out;
	&::before {
		content: "";
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
		transition: background-color .3s ease-out;
	}
	&__object,
	&__poster {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: 50% 50%;
		pointer-events: none;
	}
	&__object {
		display: block;
		z-index: 1;
		opacity: 0;
		transition: opacity .3s ease-out;
	}
	&__poster {
		display: none;
		z-index: 0;
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}
	&__icon {
		position: relative;
		z-index: 2;
		display: block;
		margin-right: 2.08vw;
		width: 90px;
		min-width: 90px;
		height: 90px;
		object-fit: contain;
		path {
			fill: rgba(255, 255, 255, .5);
			transition: fill .3s ease-out;
		}
		g {
			min-width: 90px;
		}
	}
	&__name {
		position: relative;
		z-index: 2;
		width: 234px;
		min-width: 234px;
		margin-right: 6.56vw;
	}
	&__text {
		position: relative;
		z-index: 2;
		display: block;
		width: 40.63vw;
		margin: 0;
		font-family: "Montserrat", sans-serif;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #fff;
	}
}

@include media-up(sm) {
	.video-card {
		$p: &;
		&:hover {
			border-color: transparent;
			&::before {
				background-color: rgba(#000, .7);
			}
			#{$p}__object {
				opacity: 1;
			}
			#{$p}__icon {
				path {
					fill: rgba(255, 255, 255, 1);
				}
			}
		}
	}
}

@include media(md) {
	.video-card {
		padding: 65px 60px 65px 40px;
		&__name {
			width: 19.53vw;
		}
		&__text {
			width: 45vw;
		}
	}
}

@include media(sm) {
	.video-card {
		padding: 40px 60px 60px;
		flex-wrap: wrap;
		&::before {
			background-color: rgba(#000, .7);
		}
		&__object {
			display: none;
		}
		&__poster {
			display: block;
		}
		&__icon {
			margin-right: 40px;
			margin-bottom: 40px;
			path {
				fill: rgba(255, 255, 255, 1);
			}
		}
		&__name {
			width: calc(100% - 130px);
			margin-right: 0;
			margin-bottom: 40px;
		}
		&__text {
			width: 100%;
		}
	}
}

@include media(xs) {
	.video-card {
		padding: 32px 20px 30px;
		justify-content: center;
		&__icon {
			margin-right: 0;
			margin-bottom: 24px;
		}
		&__name {
			width: 100%;
			margin-bottom: 20px;
			text-align: center;
		}
	}
}

.small-card {
	display: block;
	&__icon {
		display: block;
		width: auto;
		height: 90px;
		margin-bottom: 50px;
		path {
			fill: rgba(255, 255, 255, .5);
			transition: fill .2s ease;
		}
	}
	&__name {
		margin-bottom: 16px;
		transition: color .2s ease;
	}
	&__text {
		display: block;
		width: calc(100% - 36px);
		margin-bottom: 0;
		font-family: "Montserrat", sans-serif;
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
		color: #fff;
	}
}

@include media-up(sm) {
	.small-card {
		$p: &;
		&:hover {
			#{$p}__name {
				color: $ac;
			}
			#{$p}__icon {
				path {
					fill: rgba(238, 14, 51, 1);
				}
			}
		}
	}
}

@include media(md) {
	.small-card {
		&__name {
			margin-bottom: 20px;
		}
		&__text {
			width: 100%;
		}
	}
}

@include media(sm) {
	.small-card {
		&__name {
			margin-bottom: 16px;
		}
	}
}

@include media(xs) {
	.small-card {
		&__icon {
			margin: 0 auto 20px;
		}
		&__name,
		&__text {
			text-align: center;
		}
	}
}

.clients {
	padding-bottom: 84px;
	&__title {
		display: block;
		margin-bottom: 80px;
	}
	&__logos {
		display: flex;
		flex-wrap: wrap;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: calc(20% - 32px);
			margin-bottom: 40px;
			outline: none !important;
			cursor: pointer;
			img, svg {
				display: block;
				width: 130px;
				height: auto;
				object-fit: contain;
				object-position: 50% 50%;
				filter: grayscale(100%) invert(50%);
				transition: filter .2s ease;
			}
		}
	}
}

@include media-up(sm) {
	.clients {
		&__logos {
			img, svg {
				&:hover {
					filter: none;
				}
			}
		}
	}
}


@include media(md) {
	.clients {
		padding-bottom: 40px;
		&__title {
			margin-bottom: 40px;
		}
		&__logos {
			a {
				margin-bottom: 30px;
			}
		}
	}
}

@include media(sm) {
	.clients {
		padding-bottom: 60px;
		&__logos {
			a {
				height: 48px;
				margin-right: 40px;
				margin-bottom: 20px;
				&:nth-child(5n) {
					margin-right: 0;
				}
				img, svg {
					width: 100%;
				}
			}
		}
	}
}

@include media(xs) {
	.clients {
		padding-top: 20px;
		padding-bottom: 40px;
		&__title {
			margin-bottom: 36px;
		}
		&__logos {
			a {
				width: 25%;
				height: 30px;
				margin-bottom: 10px;
				margin-right: 0;
			}
		}
	}
}

.team {
	padding-bottom: 64px;
	&__title {
		display: block;
		margin-bottom: 80px;
	}
	&__card {
		position: relative;
		z-index: 1;
		display: block;
		margin-bottom: 60px;
		opacity: 0;
		transform: translateY(200px);
		transition-property: transform, opacity;
		transition-duration: .8s;
		transition-timing-function: cubic-bezier(.25, .1, .02, .99);
		&.up {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

@include media(md) {
	.team {
		padding-bottom: 40px;
		&__title {
			margin-bottom: 60px;
		}
		&__card {
			margin-bottom: 50px;
		}
	}
}

@include media(sm) {
	.team {
		padding-bottom: 20px;
		&__title {
			margin-bottom: 80px;
		}
		&__card {
			margin-bottom: 40px;
		}
	}
}

@include media(xs) {
	.team {
		&__title {
			margin-bottom: 36px;
		}
		&__card {
			margin-bottom: 20px;
		}
	}
}

.team-card {
	&__ava {
		position: relative;
		display: block;
		width: 100%;
		margin-bottom: 27px;
		@include aspect-ratio(1);
		img {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
			object-position: 50% 50%;
		}
	}
	&__full-name {
		min-height: 48px;
		color: #fff;
	}
	&__post {
		display: block;
		font-family: "Montserrat", sans-serif;
		font-size: 18px;
		line-height: 27px;
		font-weight: 400;
		color: $ac;
	}
}

@include media(sm) {
	.team-card {
		&__full-name {
		}
		&__post {
			font-size: 14px;
			line-height: 20px;
		}
	}
}

@include media(xs) {
	.team-card {
		&__ava {
			margin-bottom: 10px;
		}
		&__full-name {
			min-height: 20px;
		}
		&__post {
			font-size: 10px;
			line-height: 15px;
		}
	}
}
