.cases-0 {
	display: block;
	padding-top: 130px;
	padding-bottom: 120px;
	&__title {
		display: block;
		margin-bottom: 40px;
		text-transform: uppercase;
	}
	&__row-info {
		margin-bottom: 16px;
	}
	&__info {
		margin-bottom: 12px;
	}
	&__video {
		margin-bottom: 28px;
	}
	&__tags {
		margin-bottom: 110px;
	}
}

@include media(md) {
	.cases-0 {
		&__row-info {
			margin-bottom: 8px;
		}
	}
}

@include media(sm) {
	.cases-0 {
		padding-bottom: 92px;
		&__title {
			margin-bottom: 30px;
		}
		&__row-info {
			margin-bottom: 18px;
		}
		&__video {
			margin-bottom: 36px;
		}
		&__tags {
			margin-bottom: 85px;
		}
	}
}

@include media(xs) {
	.cases-0 {
		padding-top: 86px;
		padding-bottom: 65px;
		&__row-info {
			margin-bottom: 6px;
		}
		&__row-info {
			margin-bottom: 22px;
		}
		&__info {
			margin-bottom: 8px;
		}
		&__video {
			margin-bottom: 20px;
		}
		&__tags {
			margin-bottom: 50px;
		}
	}
}

.cases-info {
	display: flex;
	&__left {
		span {
			color: $gray;
		}
		display: block;
		margin-right: 10px;
	}
	&__left,
	&__right {
		span {
			display: block;
			margin-bottom: 10px;
			font-family: "Montserrat", sans-serif;
			font-size: 20px;
			line-height: 1.5;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@include media(md) {
	.cases-info {
		&__left,
		&__right {
			span {
				margin-bottom: 12px;
				font-size: 18px;
			}
		}
	}
}

@include media(sm) {
	.cases-info {
		&__left,
		&__right {
			span {
				margin-bottom: 12px;
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}

@include media(xs) {
	.cases-info {
		&__left,
		&__right {
			width: calc(50% - 12px);
			span {
				margin-bottom: 8px;
				font-size: 12px;
				line-height: 1.33;
			}
		}
		&__left {
			margin-right: 24px;
		}
	}
}

.gallery-sect {
	padding-top: 24px;
	padding-bottom: 80px;
	h2 {
		margin-bottom: 40px;
	}
	&__card {
		margin-bottom: 40px;
	}
}

@include media(md) {
	.gallery-sect {
		h2 {
			margin-bottom: 56px;
		}
	}
}

@include media(sm) {
	.gallery-sect {
		h2 {
			margin-bottom: 40px;
		}
	}
}

@include media(xs) {
	.gallery-sect {
		padding-top: 20px;
		padding-bottom: 50px;
		h2 {
			margin-bottom: 20px;
		}
		&__card {
			margin: 0;
		}
	}
}

.cases-more {
	padding-top: 24px;
	padding-bottom: 250px;
	background: url(#{$url-img}/bg-cases-bottom.jpg) center bottom / cover no-repeat;
	&__cards {
		display: block;
		margin-top: 34px;
	}
}

@include media(md) {
	.cases-more {
		padding-bottom: 235px;
	}
}

@include media(sm) {
	.cases-more {
		padding-bottom: 154px;
		h2 {
			margin-bottom: 40px;
		}
		&__cards {
			margin-top: 0;
		}
	}
}

@include media(xs) {
	.cases-more {
		padding-top: 20px;
		padding-bottom: 64px;
		&__card {
			margin-bottom: 20px;
		}
	}
}
