.cases-0 {
	display: block;
	padding-top: 130px;
	padding-bottom: 120px;
	&__title {
		display: block;
	}
	&__info {
		margin-bottom: 56px;
	}
	&__video {
		margin-bottom: 28px;
	}
	&__tags {
		margin-bottom: 0;
	}
}


@include media(sm) {
	.cases-0 {
		padding-bottom: 62px;
		&__title {
			margin-bottom: 36px;
		}
		&__video {
			margin-bottom: 36px;
		}
	}
}

@include media(xs) {
	.cases-0 {
		padding-top: 86px;
		padding-bottom: 62px;
		&__title {
			margin-bottom: 24px;
		}
		&__info {
			margin-bottom: 8px;
		}
		&__video {
			margin-bottom: 20px;
		}
	}
}

.cases-info {
	display: block;
	&__item {
		display: block;
		margin-right: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		span {
			display: inline-block;
			font-family: "Montserrat", sans-serif;
			font-size: 18px;
			line-height: 1.2;
			&:first-child {
				color: $gray;
			}
		}
	}
}

@include media(xs) {
	.cases-info {
		&__item {
			span {
				font-size: 14px;
			}
		}
	}
}

.gallery-sect {
	padding-top: 24px;
	padding-bottom: 80px;
	h2 {
		margin-bottom: 40px;
	}
	&__card {
		margin-bottom: 40px;
	}
}

@include media(md) {
	.gallery-sect {
		h2 {
			margin-bottom: 56px;
		}
	}
}

@include media(sm) {
	.gallery-sect {
		h2 {
			margin-bottom: 40px;
		}
	}
}

@include media(xs) {
	.gallery-sect {
		padding-top: 20px;
		padding-bottom: 50px;
		h2 {
			margin-bottom: 20px;
		}
		&__card {
			margin: 0;
		}
	}
}

.cases-more {
	padding-top: 24px;
	padding-bottom: 250px;
	opacity: 0;
	transition: transform .8s cubic-bezier(.25, .1, .02, .99), opacity .8s cubic-bezier(.25, .1, .02, .99);
	transform: translateY(100px);
	&.up {
		opacity: 1;
		transform: translateY(0);
	}
	&__cards {
		display: block;
		margin-top: 34px;
	}
}

@include media(md) {
	.cases-more {
		padding-bottom: 235px;
	}
}

@include media(sm) {
	.cases-more {
		padding-bottom: 154px;
		h2 {
			margin-bottom: 40px;
		}
		&__cards {
			margin-top: 0;
		}
	}
}

@include media(xs) {
	.cases-more {
		padding-top: 20px;
		padding-bottom: 64px;
		&__card {
			margin-bottom: 20px;
		}
	}
}
