@font-face {
	font-family: "Montserrat";
	src: url("#{$url-fonts}/Montserrat-Regular/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("#{$url-fonts}/Montserrat-Regular/Montserrat-Regular.woff") format("woff"), url("#{$url-fonts}/Montserrat-Regular/Montserrat-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Montserrat";
	src: url("#{$url-fonts}/Montserrat-Bold/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("#{$url-fonts}/Montserrat-Bold/Montserrat-Bold.woff") format("woff"), url("#{$url-fonts}/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype");
	font-weight: 700;
}
