.header {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	display: block;
	height: 100px;
	background-color: transparent;
	transition: background-color .3s ease;
	&__logo {
		position: fixed;
		z-index: 11;
		top: 28px;
		left: 50px;
		display: block;
		width: 101px;
		height: 44px;
		cursor: pointer;
		outline: none !important;
		img, svg {
			transition: opacity .8s ease;
			path {
				transition: fill .1s ease;
			}
			#now {
				transition: opacity .8s ease;
			}
			&:first-child {
				display: block;
				width: 100%;
				height: 100%;
				opacity: 1;
				#fliker {
					animation: fliker 1s linear infinite;
				}
			}
			&:last-child {
				position: absolute;
				top: 0;
				left: -28px;
				display: block;
				width: 124px;
				height: 44px;
				opacity: 0;
			}
		}
	}
	&__burder {
		position: absolute;
		z-index: 13;
		top: 26px;
		right: 20px;
		padding: 0;
		display: none;
		align-items: center;
		justify-content: center;
		border: none;
		background-color: transparent;
		outline: none !important;
		cursor: pointer;
	}
	&__menu {
		position: absolute;
		top: 43px;
		right: 50px;
	}
}

@include media(md) {
	.header {
		height: 90px;
		&__logo {
			top: 18px;
		}
		&__menu {
			top: 33px;
		}
	}
}

@include media(xs) {
	.header {
		&__logo {
			top: 24px;
			left: 24px;
			width: 72px;
			height: 32px;
		}
		&__menu {
			position: fixed;
			top: 0;
			right: 0;
			z-index: 12;
			left: auto;
			width: 72.81vw;
			height: 100vh;
			transform: translateX(100vw);
			transition: transform .3s ease;
			&.transform {
				transform: translateX(0);
			}
		}
		&__burder {
			display: flex;
		}
	}
}

.menu-nav {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	backface-visibility: hidden;
	&__item {
		position: relative;
		display: block;
		margin-right: 50px;
		line-height: 1;
		&:last-child {
			margin-right: 0;
		}
		&::before {
			content: "";
			position: absolute;
			z-index: 0;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			transform-origin: 0 50%;
			transform: scaleX(0);
			background-color: $ac;
			transition: transform .2s ease;
		}
		a {
			position: relative;
			z-index: 1;
			display: inline-block;
			width: 100%;
			height: 100%;
			padding: 8px 5px;
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			line-height: 1;
			text-transform: uppercase;
			color: #fff;
			outline: none !important;
			text-decoration: none;
			transition: color .2s ease;
		}
		&_active {
			&::before {
				transform: scaleX(1);
			}
			a {
				color: #000;
				text-decoration: none;
			}
		}
	}
}

@include media-up(md) {
	.menu-nav {
		&__item {
			&:hover, &:focus, &:active {
				&::before {
					transform: scaleX(1);
				}
				a {
					color: #000;
					text-decoration: none;
				}
			}
			a {
				&:hover, &:focus, &:active {
					color: #000;
					text-decoration: none;
				}
			}
		}
	}
}

@include media(sm) {
	.menu-nav {
		&__item {
			margin-right: 30px;
		}
	}
}

@include media(xs) {
	.menu-nav {
		padding-top: 20vh;
		flex-direction: column;
		background-color: $ac2;
		&__item {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
			&:nth-last-child(2) {
				margin-bottom: 25vh;
			}
			&:last-child {
				margin-bottom: 0;
			}
			a {
				padding: 11px 0 11px 24px;
				font-size: 18px;
				font-weight: 600;
				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 5px;
					height: 0;
					background-color: #fff;
				}
			}
			&_active {
				&::before {
					background-color: rgba(#fff, .1);
				}
				a {
					color: #fff;
					&::after {
						height: 100%;
					}
				}
			}
		}
	}
}
