.main-menu {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	display: block;
	height: 70px;
	background-color: transparent;
	transition: background-color .3s ease;
	&__logo {
		position: fixed;
		z-index: 11;
		top: 18px;
		left: 50px;
		display: block;
		width: 77px;
		height: 32px;
		cursor: pointer;
		outline: none !important;
		img, svg {
			display: block;
			width: 100%;
			height: 100%;
			.fliker {
				animation: fliker 1s linear infinite;
			}
		}
	}
	&__burder {
		position: absolute;
		z-index: 13;
		top: 26px;
		right: 20px;
		padding: 0;
		display: none;
		align-items: center;
		justify-content: center;
		border: none;
		background-color: transparent;
		outline: none !important;
		cursor: pointer;
	}
	&__menu {
		position: absolute;
		top: 20px;
		right: 40px;
	}
	&__nav {
		margin: 0;
	}
	&__lang {
		position: fixed;
		bottom: 14px;
		display: block;
	}
	&__soc {
		position: fixed;
		bottom: 20px;
		left: 50px;
		margin: 0;
	}
}

@keyframes fliker {
	0% {
		fill: rgba($ac, 1);
	}
	100% {
		fill: rgba($ac, 0);
	}
}

@include media(xs) {
	.main-menu {
		&__logo {
			top: 24px;
			left: 24px;
			width: 72px;
			height: 32px;
		}
		&__menu {
			position: fixed;
			top: 0;
			right: 0;
			z-index: 12;
			left: auto;
			width: 72.81vw;
			height: 100vh;
			transform: translateX(100vw);
			transition: transform .3s ease;
			background-color: $ac2;
			&.transform {
				transform: translateX(0);
			}
		}
		&__nav {
			margin-bottom: 20vh;
		}
		&__burder {
			display: flex;
		}
		&__lang,
		&__soc {
			position: relative;
			bottom: auto;
			left: auto;
		}
		&__lang {
			margin-bottom: 28px;
		}
		&__soc {
			margin-left: 20px;
		}
	}
}

.menu-nav {
	display: flex;
	padding: 0;
	list-style: none;
	backface-visibility: hidden;
	> li {
		position: relative;
		display: block;
		margin-right: 40px;
		line-height: 1;
		&:last-child {
			margin-right: 0;
		}
		> a {
			position: relative;
			display: inline-block;
			width: 100%;
			padding-bottom: 2px;
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			line-height: 1;
			font-weight: 400;
			text-transform: uppercase;
			color: #fff;
			outline: none !important;
			text-decoration: none;
			transition: color .2s ease;
			&::before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 1px;
				transform-origin: 0 50%;
				transform: scaleX(0);
				background-color: $ac;
				transition: transform .2s ease;
			}
		}
		&:hover {
			> ul {
				opacity: 1;
				visibility: visible;
			}
		}
		> ul {
			position: absolute;
			left: -20px;
			bottom: 0;
			transform: translate(0, 100%);
			display: block;
			width: 188px;
			margin: 0;
			padding: 8px 0;
			opacity: 0;
			visibility: hidden;
			list-style-type: none;
			transition: opacity .3s ease;
			li {
				display: block;
				a {
					display: block;
					width: 100%;
					padding: 13px 20px;
					font-family: 'Montserrat', sans-serif;
					font-size: 14px;
					line-height: 1;
					font-weight: 400;
					color: #fff;
					text-decoration: none;
					outline: none !important;
					text-transform: uppercase;
					background-color: #000;
					transition: background-color .2s ease;
					&::before {
						content: none;
					}
					&:hover, &:focus {
						text-decoration: none;
						color: #fff;
						background-color: #1c1c1c;
					}
				}
			}
		}
	}
}

@include media-up(md) {
	.menu-nav {
		> li {
			> a {
				&:hover {
					color: $ac;
					text-decoration: none;
					&::before {
						transform: scaleX(1);
					}
				}
				&:focus {
					text-decoration: none;
				}
			}
		}
	}
}

@include media(sm) {
	.menu-nav {
		> li {
			margin-right: 20px;
			> ul {
				display: none;
			}
		}
	}
}

@include media(xs) {
	.menu-nav {
		padding-top: 20vh;
		flex-direction: column;
		> li {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
			> a {
				padding: 11px 0 11px 24px;
				font-size: 18px;
				font-weight: 600;
				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 5px;
					height: 0;
					background-color: #fff;
				}
			}
		}
	}
}

.link {
	a {
		position: relative;
		display: inline-block;
		width: 100%;
		padding-bottom: 2px;
		font-family: 'Montserrat', sans-serif;
		font-size: 14px;
		line-height: 1;
		font-weight: 400;
		text-transform: uppercase;
		color: #fff;
		outline: none !important;
		text-decoration: none;
		transition: color .2s ease;
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 1px;
			transform-origin: 0 50%;
			transform: scaleX(0);
			background-color: $ac;
			transition: transform .2s ease;
		}
	}
	&_active {
		a {
			color: $ac;
			text-decoration: none;
			&::before {
				transform: scaleX(1);
			}
		}
	}
}

@include media-up(md) {
	.link {
		a {
			&:hover {
				color: $ac;
				text-decoration: none;
				&::before {
					transform: scaleX(1);
				}
			}
			&:focus {
				text-decoration: none;
			}
		}
	}
}

@include media(xs) {
	.link {
		a {
			padding: 11px 0 11px 24px;
			font-size: 18px;
			font-weight: 600;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				width: 5px;
				height: 0;
				background-color: #fff;
			}
		}
		&_active {
			a {
				&::before {
					height: 100%;
					transform: scaleX(1);
					background-color: rgba(#fff, .1);
				}
				color: #fff;
				&::after {
					height: 100%;
				}
			}
		}
	}
}
