.popup {
	$p: &;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	opacity: 0;
	transition: opacity .3s ease;
	&__bg {
		position: fixed;
		width: 100%;
		height: 100vh;
		z-index: 0;
		background-color: rgba(#000, .7);
	}
	&__wrap {
		position: relative;
	}
	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 1;
	}
	&.display {
		display: flex;
	}
	&.visible {
		opacity: 1;
	}
}

.block-video {
	position: relative;
	display: block;
	width: 66.67vw;
	background-color: #000;
	transform: translateY(100%);
	transition: transform .4s ease;
	&.transform {
		transform: translateY(0);
	}
	&__wrap {
		position: relative;
		display: block;
		width: 66.67vw;
		margin-top: 16px;
		margin-bottom: 42px;
		@include aspect-ratio(16, 9);
		iframe {
			position: absolute;
			display: block;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
}

@media (max-width: $sm) {
	.block-video {
		width: 100vw;
		&__wrap {
			width: 100vw;
		}
	}
}
