html, body {
	overflow: hidden;
}

.root {
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	background-color: #000;
	&.overflow {
		overflow: hidden;
	}
}

body {
	position: relative;
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: #fff;
}

b,
strong {
	font-weight: bolder;
}

img {
	border-style: none;
}

section {
	position: relative;
	z-index: 1;
}

@include media(xs) {
	.col-xs {
		padding: 0 24px;
	}
	.col-xs-no-p {
		padding: 0;
	}
	.row {
		&_xs-p {
			padding: 0 24px;
		}
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	color: #fff;
}

h1, .h1 {
	font-size: 50px;
	line-height: 1.2;
	font-weight: 900;
	text-transform: uppercase;
}

@include media(sm) {
	h1, .h1 {
		font-size: 35px;
		line-height: 40px;
	}
}

@include media(xs) {
	h1, .h1 {
		font-size: 28px;
		line-height: 30px;
	}
}

h2, .h2 {
	font-size: 40px;
	line-height: 1;
	font-weight: 600;
}

@include media(sm) {
	h2, .h2 {
		font-size: 32px;
		line-height: 36px;
	}
}

@include media(xs) {
	h2, .h2 {
		font-size: 24px;
		line-height: 30px;
	}
}

h3, .h3 {
	font-size: 22px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 4.4px;
}

@include media(xs) {
	h3, .h3 {
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 3.2px;
	}
}

h4, .h4 {
	font-size: 24px;
	line-height: 1.5;
	font-weight: 400;
}

@include media(xs) {
	h4, .h4 {
		font-size: 16px;
	}
}

h5, .h5, p {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 400;
}

@include media(md) {
	h5, .h5, p {
		font-size: 18px;
	}
}
@include media(xs) {
	h5, .h5, p {
		font-size: 14px;
		line-height: 20px;
	}
}

.main {
	position: relative;
	display: block;
	width: 100%;
	min-height: 100vh;
	background-color: #000;
	&__logo {
		position: fixed;
		z-index: 11;
		top: 28px;
		left: 50px;
		display: block;
		width: 101px;
		height: 44px;
		cursor: pointer;
		outline: none !important;
		img, svg {
			transition: opacity .8s ease;
			path {
				transition: fill .1s ease;
			}
			#now {
				transition: opacity .8s ease;
			}
			&:first-child {
				display: block;
				width: 100%;
				height: 100%;
				opacity: 1;
				#fliker {
					animation: fliker 1s linear infinite;
				}
			}
			&:last-child {
				position: absolute;
				top: 0;
				left: -28px;
				display: block;
				width: 124px;
				height: 44px;
				opacity: 0;
			}
		}
	}
	&__burder {
		display: none;
	}
	&__next {
		position: fixed;
		z-index: 5;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		width: 22px;
		height: 32px;
		padding: 0;
		border: none;
		background-color: transparent;
		outline: none !important;
		cursor: pointer;
		img, svg {
			display: block;
			width: 100%;
			height: 100%;
			path {
				transition: fill .2s ease;
			}
		}
	}
}

@include media(md) {
	.main {
		&__logo {
			top: 18px;
		}
	}
}

@include media(sm) {
	.main {
		&__next {
			bottom: 40px;
		}
	}
}

@include media(xs) {
	.main {
		&::before {
			content: "";
			position: fixed;
			z-index: 10;
			top: 0;
			left: 0;
			width: 100%;
			height: 80px;
			background-color: rgba(#000, 0.8);
		}
		&__logo {
			top: 24px;
			left: 24px;
			width: 72px;
			height: 32px;
		}
		&__next {
			bottom: 24px;
		}
		&__burder {
			position: fixed;
			z-index: 11;
			top: 26px;
			right: 20px;
			display: block;
			line-height: 1;
			width: 34px;
			height: 30px;
		}
	}
}

@include media-up(sm) {
	.main {
		&__next {
			&:hover {
				svg {
					path {
						fill: $ac;
					}
				}
			}
		}
	}
}

@keyframes fliker {
	0% {
		fill: rgba($ac, 1);
	}
	100% {
		fill: rgba($ac, 0);
	}
}

.block-video {
	display: block;
	width: 66.67vw;
	position: relative;
	background-color: #000;
	@include aspect-ratio(16, 9);
	&.transform {
		transform: translateY(0);
	}
	&_medium {
		width: 100%;
		@include aspect-ratio(400, 169);
	}
	&_large {
		width: 100%;
		@include aspect-ratio(400, 207);
	}
	&_popup {
		transform: translateY(120%);
		transition: transform .3s ease;
	}
	&__bg {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	&__btn {
		position: absolute;
		z-index: 3;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		padding: 0;
		background-color: transparent;
		border: none;
		outline: none !important;
		img, svg {
			display: block;
			width: 130px;
			height: 130px;
			circle {
				stroke: #fff;
				transition: stroke .2s ease;
			}
			path {
				fill: #fff;
				transition: fill .2s ease;
			}
		}
		span {
			display: block;
			margin-top: 24px;
			font-size: 14px;
			line-height: 1;
			color: #fff;
			transition: color .2s ease;
		}
	}
	iframe {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@include media-up(sm) {
	.block-video {
		&__btn {
			&:hover, &:focus {
				svg {
					circle {
						stroke: $ac;
					}
					path {
						fill: $ac;
					}
				}
				span {
					color: $ac;
				}
			}
		}
	}
}

@include media(sm) {
	.block-video {
		&_medium {
			@include aspect-ratio(334, 175);
		}
		&_large {
			@include aspect-ratio(167, 94);
		}
	}
}

@include media(xs) {
	.block-video {
		width: 100%;
		&_popup {
			transform: translateY(200%);
		}
		&_medium {
			@include aspect-ratio(17, 10);
		}
		&_large {
			@include aspect-ratio(34, 25);
		}
		&__btn {
			img, svg {
				width: 65px;
				height: 65px;
			}
			span {
				margin-top: 8px;
			}
		}
	}
}

hr {
	display: block;
	width: 100%;
	height: 1px;
	margin: 0;
	background-color: $ac;
	border: none;
}

.dash-list {
	display: block;
	padding: 0;
	margin: 0;
	list-style-type: none;
	li {
		position: relative;
		display: block;
		padding-left: 24px;
		font-family: "Montserrat", sans-serif;
		color: #fff;
		&::before {
			content: "—";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			font-family: "Montserrat", sans-serif;
			font-size: 14px;
			line-height: 20px;
			font-weight: 400;
			color: #fff;
		}
	}
}

.background {
	background-size: cover;
	background-repeat: no-repeat;
	&_center {
		background-position: center center;
	}
	&_left {
		background-position: 0 center;
	}
	&_right {
		background-position: 100% center;
	}
	&_top {
		background-position: center 100%;
	}
	&_bottom {
		background-position: center 0;
	}
}

.bg-dark-bottom {
	&::after {
		content: "";
		position: absolute;
		z-index: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 280px;
		background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
	}
}

.bg-dark-top {
	&::before {
		content: "";
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 280px;
		background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
	}
}

@include media(sm) {
	.bg-dark-bottom {
		&::after {
			height: 100px;
		}
	}
	.bg-dark-top {
		&::before {
			height: 100%;
		}
	}
}
