html, body {
	overflow-x: hidden;
}

body {
	position: relative;
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: #fff;
}

b,
strong {
	font-weight: bolder;
}

img {
	border-style: none;
}

section {
	position: relative;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p {
	margin: 0;
	font-family: "Montserrat", sans-serif;
	color: #fff;
}

h1, .h1 {
	font-size: 50px;
	line-height: 1.2;
	font-weight: 900;
}

@media (max-width: $sm) {
	h1, .h1 {
		font-size: 35px;
		line-height: 40px;
	}
}

@media (max-width: $xs) {
	h1, .h1 {
		font-size: 28px;
		line-height: 30px;
	}
}

h2, .h2 {
	font-size: 40px;
	line-height: 1;
	font-weight: 600;
}

@media (max-width: $sm) {
	h2, .h2 {
		font-size: 32px;
		line-height: 36px;
	}
}

@media (max-width: $xs) {
	h2, .h2 {
		font-size: 24px;
		line-height: 30px;
	}
}

h3, .h3 {
	font-size: 22px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 4.4px;
}

@media (max-width: $xs) {
	h3, .h3 {
		font-size: 16px;
		line-height: 20px;
		letter-spacing: 3.2px;
	}
}

h4, .h4 {
	font-size: 24px;
	line-height: 1.5;
	font-weight: 400;
}

@media (max-width: $xs) {
	h4, .h4 {
		font-size: 16px;
	}
}

h5, .h5, p {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 400;
}

@media (max-width: $md) {
	h5, .h5, p {
		font-size: 18px;
	}
}
@media (max-width: $xs) {
	h5, .h5, p {
		font-size: 14px;
		line-height: 20px;
	}
}

.main {
	display: block;
	width: 100vw;
	min-height: 100vh;
	background-color: #000;
	&__logo {
		position: fixed;
		z-index: 5;
		top: 3.43vh;
		left: 50px;
		display: block;
		width: 101px;
		height: 44px;
		cursor: pointer;
		outline: none !important;
		img, svg {
			transition: opacity .8s ease;
			path {
				transition: fill .1s ease;
			}
			#now {
				transition: opacity .8s ease;
			}
			&:first-child {
				display: block;
				width: 100%;
				height: 100%;
				opacity: 1;
				#fliker {
					animation: fliker 1s linear infinite;
				}
			}
			&:last-child {
				position: absolute;
				top: 0;
				left: -28px;
				display: block;
				width: 124px;
				height: 44px;
				opacity: 0;
			}
		}
	}
	&__burder {
		display: none;
	}
	&__next {
		position: absolute;
		z-index: 5;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.next {
	display: block;
	width: 22px;
	height: 32px;
	padding: 0;
	border: none;
	background-color: transparent;
	outline: none !important;
	cursor: pointer;
	img, svg {
		display: block;
		width: 100%;
		height: 100%;
		path {
			transition: fill .2s ease;
		}
	}
}

@media (min-width: $md) {
	.next {
		&:hover {
			svg {
				path {
					fill: $ac;
				}
			}
		}
	}
}

@keyframes fliker {
	0% {
		fill: rgba($ac, 1);
	}
	100% {
		fill: rgba($ac, 0);
	}
}

@media (max-width: $sm) {
	.main {
		&__next {
			bottom: 40px;
		}
	}
}

@media (max-width: $xs) {
	.main {
		&__logo {
			top: 24px;
			left: 24px;
			width: 72px;
			height: 32px;
		}
		&__burder {
			position: fixed;
			z-index: 5;
			top: 24px;
			right: 24px;
			display: block;
			line-height: 1;
		}
		&__menu {
			position: fixed;
			z-index: 6;
			top: 0;
			right: 0;
			transform: translateX(100%);
			transition: transform .3s ease;
			&.transform {
				transform: translateX(0);
			}
		}
		&__next {
			bottom: 24px;
		}
	}
}

.btn-gallary {
	display: block;
	width: 40px;
	height: 40px;
	padding: 0;
	border: none;
	cursor: pointer;
	outline: none !important;
	background-color: transparent;
	img, svg {
		display: block;
		width: 100%;
		height: 100%;
		g, path {
			transition: opacity .2s ease;
		}
	}
	&:hover {
		svg {
			g, path {
				opacity: 1;
			}
		}
	}
}