.vacansies {
	&__title,
	&__annotation,
	&__card {
		position: relative;
		z-index: 2;
	}
	&__title {
		margin-bottom: 80px;
	}
	&__annotation {
		margin-bottom: 230px;
	}
	&__card {
		margin-bottom: 50px;
		transform: translateY(100px);
		opacity: 0;
		transition: transform .8s cubic-bezier(.25, .1, .02, .99), opacity .8s cubic-bezier(.25, .1, .02, .99);
		&.up {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

@include media(md) {
	.vacansies {
		&__annotation {
			margin-bottom: 120px;
		}
	}
}

// @include media(sm) {
// 	.vacansies {
// 		&__annotation {
// 			margin-bottom: 170px;
// 		}
// 	}
// }

@include media(xs) {
	.vacansies {
		padding-bottom: 50px;
		// &__top-bg {
		// 	height: 500px;
		// }
		&__title {
			margin-bottom: 56px;
		}
		// &__annotation {
		// 	margin-bottom: 80px;
		// }
	}
}

.vacansies-card {
	$p: &;
	display: block;
	padding-top: 30px;
	border-top: 1px solid #fff;
	transition: border-color .2s ease-out;
	text-decoration: none;
	cursor: pointer;
	outline: none !important;
	&::before {
		content: "";
		position: absolute;
		z-index: 0;
		top: 30px;
		left: 0;
		width: 100%;
		height: 324px;
		background-color: rgba(#000, .5);
		transition: background-color .2s ease-out;
	}
	&:hover, &:focus, &:active {
		border-color: $ac;
		text-decoration: none;
		&::before {
			background-color: transparent;
		}
		#{$p}__post {
			color: $ac;
		}
	}
	&__prew {
		display: block;
		width: 100%;
		height: 324px;
		margin-bottom: 30px;
		object-fit: cover;
		object-position: 50% 50%;
	}
	&__post {
		display: block;
		min-height: 48px;
		margin-bottom: 20px;
		transition: color .2s ease-out;
	}
	&__list {
		li {
			margin-bottom: 12px;
			font-size: 14px;
			line-height: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@include media(md) {
	.vacansies-card {
		&__post {
			margin-bottom: 10px;
		}
		&__list {
			li {
				margin-bottom: 10px;
				font-size: 18px;
			}
		}
	}
}

@include media(sm) {
	.vacansies-card {
		&__prew {
			margin-bottom: 20px;
		}
	}
}

.vacancie {
	padding-top: 145px;
	padding-bottom: 120px;
	&__back {
		display: block;
		width: 97px;
		height: 47px;
		margin-bottom: 40px;
		outline: none !important;
		cursor: pointer;
		img, svg {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
			path {
				fill: rgba(#fff, .5);
				transition: fill .2s ease;
			}
		}
		&:hover, &:focus {
			svg {
				path {
					fill: rgba(#fff, 1);
				}
			}
		}
	}
	&__title {
		position: relative;
		z-index: 2;
		margin-bottom: 80px;
	}
	&__content {
		position: relative;
		z-index: 2;
	}
}

@include media(sm) {
	.vacancie {
		&__back {
			width: 49px;
			height: 24px;
			margin-bottom: 30px;
		}
	}
}
@include media(xs) {
	.vacancie {
		&__title {
			margin-bottom: 75px;
		}
	}
}

